.home{
  /* max-width: 1400px; */
  margin: 0 auto;
}


.home__banner{
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  z-index: -100;
  margin-bottom: -75px;
}

.home__row{
  display: flex;
  margin: 0 50px;
}

